<?xml version="1.0"?>
<Pegasusdata>
 <CSUserdetails>
  <Firstname>Gurudatt</Firstname>
  <Lastname>SA</Lastname>
  <email>gurudatt.gd04@gmail.com</email>
  <username>wsuser-513</username>
  <password>password2</password>
 </CSUserdetails>
 <canvasLogins>
   <username>guru.datta@excelindia.com</username>
   <password>password1</password>
   <coursename>DemoCourse</coursename>
 </canvasLogins>
</Pegasusdata> 